@keyframes moveUp{
    to{
        transform: translateY(40px)
    }
}
body{
    font-family: cursive;
}

.title{
    color: red;
    font-size: 30px;   
    text-align: center;
}
.logos{
    width: 50px;
    padding: 20px;
}

.WhPercy{
    color: greenyellow;
    background-color: rgb(162, 153, 153);
    
}

.entandarimg{
    width: 700px;
}
*{
    background-color: antiquewhite;
}
.htmlCurso{
    width: 200px;
}